.container-wrapper {
  max-width: 1520px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}
ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
  margin: 32px 0 0;
}
a {
  color: var(--text-h);
  font-size: 16px;
  border-radius: 6px;
  display: flex;
  padding: 6px 12px;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  transition: box-shadow 0.3s;
}
nav {
  display: flex;
  max-width: 80%;
  justify-content: right;
  gap: 32px;
  padding: 16px;
  margin-left: auto;
}
